main {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  border: none;
}
.content {
  height: 1000px;
  width: 500px;
  background-color: #f8f8f8;
}
.content__mainTitle {
  padding-top: 70px;
  font-size: 30px;
  font-family: sans-serif;
  opacity: 0.7;
  font-weight: 600;
  text-align: center;
}

.content__inputContent {
  height: 300px;
  width: 500px;
  padding-top: 80px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.content__inputContent-email {
  width: 300px;
  height: 50px;
  border-radius: 1px 5px;
}
.content__inputContent-password {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  -webkit-appearance: none;
}
.content__inputContent-quePassword {
  width: 320px;
  height: 50px;
  text-align: right;
  color: #e25464;
}
.content__checkarea {
  margin-left: 80px;
  opacity: 0.7;
}
.content__inputContent-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #bcbcbc;
  cursor: pointer;
}
.content__signin {
  width: 340px;
  height: 50px;
  margin-left: 80px;
  margin-top: 80px;
  background-color: #e2283e;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  color: white;
}
.content__or {
  margin-top: 30px;
  margin-left: 30px;
  font-weight: 600;
  font-size: 25px;
  margin-left: 80px;
  margin-top: 80px;
}
.btn {
  width: 340px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-left: 80px;
  margin-top: 40px;
}
.btn__facebook {
  width: 160px;
  height: 60px;
  background-color: #475a95;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 30px;
}
.btn__twitter {
  width: 160px;
  height: 60px;
  background-color: hsl(213, 85%, 66%);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 30px;
}
.content__firstfooter {
  margin-left: 80px;
  margin-top: 80px;
  width: 360px;
  height: 60px;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}
.content_content__firstfooterContentArea {
  font-family: sans-serif;
  opacity: 0.6;
  font-size: 20px;
  text-align: left;
}
.content__firstfoote-accountRed {
  color: #e2283e;
  font-weight: 700;
}
.content__secondfooter-passwordRed {
  color: #e2283e;
  font-weight: 700;
}
