@import "reset.css";
@import "nomad.css";

* {
  box-sizing: border-box;
}

body {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: white;
  color: #020202;
  font-family: "Open sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
